.about__section {
  min-height: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about__section button {
  background: rgb(13, 23, 0) !important;
  background: linear-gradient(
    159deg,
    rgba(13, 23, 0, 1) 0%,
    rgba(29, 102, 9, 1) 10%,
    rgba(98, 212, 112, 1) 48%,
    rgba(0, 179, 37, 1) 100%
  ) !important;
  color: white;
}
