<div class="porto__section pb-3 container">
  <h2 class="pb-4 pt-4">Portfolio</h2>
  <div class="row">
    <div
      *ngFor="let project of projects; let i = index"
      class="card text-center col-4"
    >
      <div class="card-header">Featured</div>
      <div class="card-body">
        <h5 class="card-title">Special title treatment</h5>
        <p class="card-text">
          With supporting text below as a natural lead-in to additional content.
        </p>
        <a href="#" class="btn btn-primary">Button</a>
      </div>
      <div class="card-footer text-muted">2 days ago</div>
    </div>
  </div>
</div>
